extends layout

block content
  h1= title
  p Welcome to #{title}
  image(src='/static/images/flight_board_main.PNG' width='60')
  hr
  h2 Usage
  ul
    li
      p 1 : move board page
    li
      p 2 : select date and PORT
    li
      p 3 : push show list button
    li
      p if you want to see the scheduled information at same time, push update button.
  h2 Site Map
  ul
    li
      p
        a(href="/") go to Main
  h2 Request
  ul
    ui
      p 1: 정비사 배정 - Departure, Arrival, Board, 각 2명씩 배정 가능, Note 추가 기능
    ui
      p 2: 기재의 Ground Time 에 대한 작업 표시 기능
    ui
      p 3: Daily Check 표시 기능
    ui
      p 4: 추가 정보 표시
      p ==> 기재 기본정보
      p ==> Deffer 현황
  hr
  h2 sample image
  h2 current
  image(src='/static/images/current_board.PNG' width='600')
  p
  image(src='/static/images/flight_board.PNG' width='800')
  hr
  h3 Tech Info
  p
    | Server Side : Node.js
    br
    | Client Side : SVG by Using D3js
