extends layout

block content
  h1= title
  image(src='/static/images/flight_board_main.PNG' width='60')
  hr
  h2 Usage
  if message.length > 0
    h3
      font(color='red') #{message}
  form(action="/login",method="post")
    ul
      li
        p
          | ID : 
          input(type="text",name="userid",placeholder="username")
        p
          | Password : 
          input(type="password",name="password",placeholder="password")
        button(name="enter") enter
  h2 Site Map
  ul
    li
      p
        a(href="/help") help
  h3 Info
  ul
    li
      p contact : puniculla@eastarjet.com
    li
      p
        | Server Side : Node.js
        br
        | Client Side : SVG with D3js
        br
        | Batch Job : Python crawling - 한국공항공사, 인천공항공사
