extends layout

block content
  h1= title
  p Welcome to #{title}
  image(src='/images/flight_board_main.PNG' width='60')
  hr
  h2 Usage
  form(action="/board",method="post")
    ul
      li
        p
          | ID : 
          input(type="text",name="userid",placeholder="userId")
      li
        p
          | Password : 
          input(type="password",name="password",placeholder="password")
      li
        button(name="enter") go
  h2 Site Map
  ul
    li
      p
        a(href="/help") help
  h3 Info
  ul
    li
      p contact : puniculla@eastarjet.com
    li
      p
        Server Side : Node.js
        br
        Client Side : SVG by Using D3js
